*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
nav{
    height: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
}

nav .logo{
    width: 139px ;
    height: 60px;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 32px ;
    /* margin: 34px 0px; */
}

nav ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
}


nav .btn{
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    color: #FFFFFF;
    background-color: #469165;
}

nav .btn:hover{
    cursor: pointer;
}

#hero{
    padding: 115px 120px 180px 120px;
    background: url(./assets/hero-bg.png);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.hero-content{
    width: 85%;
    text-align: center;
   

}

.headings{
    display: flex;
    margin: 0 auto;
    width: 229px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding: 8px 12px;
    border-radius: 1000px;
    background-color: #FFFFFF;
    margin-bottom: 16px;
}

.box {
    height: 16px;
    width: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-outer{
    width:16px ;
    height: 16px ;
    background-color: #30b86944;
    border-radius: 8px ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-middle{
    width:12px ;
    height: 12px ;
    background-color: #30b86969;
    border-radius: 8px ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-inner{
    width:6px ;
    height: 6px;
    background-color: #30b868 ;
    border-radius: 8px ;
}


.headings p{
    width: 183px;
    font-size: 16px;
    font-weight:500;
    color: #469165;

}

.text-info h1{
    width: 770px;
    font-size: 72px ;
    font-weight: bold;
    line-height: 84px;
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 16px;
}

.text-info h1 span{
    color: #30B868;
}


.text-info .info{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #ffffffdc;
    margin-bottom: 32px;

}

.hero-content .buttons-container{
    display: flex;
    gap: 16px;
    justify-content: center;
}

.btn1, .btn2{
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    border-radius: 4px;
    color: #FFFFFF;
}
.btn1,.btn2,.btn3:hover{
    cursor: pointer;
}

.btn1{
    background-color: #469165;
    
}

.btn2{
    border:1px solid rgba(255, 255, 255, 1) ;
}


.notes{
    width: 1360px;
    margin: 0 auto;
    padding: 0px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 44px;
    background-color: #FFFFFF;
}

.notes .head{
    width: 100%;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.notes .head h2{
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    color: #001931;
}

.notes .head p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
    text-align: center;
}

.card-container{
    display: flex;
    gap: 24px;
    justify-content: space-between;
    align-items: center;
}

.card-container .card{
    width: 322px;
    height: 300px;
    padding: 24px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
}

.card-container .card .image-container{
    width: 60px;
    height: 60px;
    border-radius: 60px;
    background-color: #F95555 ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container .card .image-container img{
    width: 32px ;
    height: 32px;

}

.solution{
    padding: 120px;
    background-color: #FFFFFF ;
    margin-top: -45px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sol-container{
    display: flex;
    width: 1360px;
    align-items: center;
    gap: 60px;
}

.sol-container #image{
    width: 600px;
    height: 600px;
    border-radius: 12px;
}

.sol-container .sol-text{
    width: 700px;
    height: 400px;
    text-align: left;
}

.sol-text .text #header{
    height: 20px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #469165;
    margin-bottom: 16px;
}

.sol-container .text #body{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;    
}

.sol-container .text #footer{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}


.points{
    display: flex;
    gap: 6px;
    margin-bottom: 16px;
}

.points p{
    font-size: 16px;
    font-weight: 400;
    color: #001931;
}

#last {
    padding: 0px 120px 120px 120px; 
}

#last .para{
    width: 1360px ;
    margin: 0 auto;
    text-align: center;
    background-color:  #f7f6f2; 
    padding: 80px 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#last .para .bottom_para{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#last .para .bottom_para h1{
    font-size: 40px;
    font-weight: bold;
    color: #001931 ;
}
#last .para .bottom_para p{
    font-size: 16px;
    font-weight: 400;
    color:#627382 ;
    margin: 0 auto;
}

#last .para .bottom_button{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.btn3{
    width: 194px;
    height: 52px;
    margin: 0 auto;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: #469165;
    padding: 12px 16px;
    box-shadow: 0px 10px 20px 0px #0000002f ;
}

.btn3 p{
    color: #FFFFFF;
}

.ending p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382 ;
}




footer{
    padding: 120px 120px 30px ;
    background-color: #001931;
}

.logo_social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px ;
}

.footer_logo{
    width: 350px;
    height: 60px;
}

.footer_logo img{
    width: 139px;
    height: 60px;
}

.logo_social .social{
    width: 220px;
    height: 64px;
    text-align: left;
}

.logo_social .social h4{
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;
}
.logo_social .social .social_icon{
    width: 92px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px ;
}

.logo_social .social .social_icon div{
    background-color: #FFFFFF;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social_icon div i{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 11.5px;
    height: 11.75px;
}

footer hr{
    margin-bottom: 30px ;
    border: none;
    border-top: 1px solid #e5e7eb3b;
}

footer .copy{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}