*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 120px;
}

nav .logo{
    width: 139px ;
    height: 60px;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 32px ;
    margin: 34px 0px;
}

nav ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
}


nav .btn{
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    color: #FFFFFF;
    background-color: #469165;
}

nav .btn:hover{
    cursor: pointer;
}

#hero{
    padding: 70px 120px 134px 120px;
    background: url(./assets/hero-bg.png);
    width: 100%;
    height: 674px;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    align-items: center;
}
.hero-content{
    width: 1360px ;
    margin: 0 auto;
    text-align: center;


}

.headings{
    display: flex;
    margin: 0 auto;
    width: 229px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding: 8px 12px;
    border-radius: 1000px;
    background-color: #FFFFFF;
    margin-bottom: 16px;
}

.box {
    height: 16px;
    width: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-outer{
    width:16px ;
    height: 16px ;
    background-color: #30b86944;
    border-radius: 8px ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-middle{
    width:12px ;
    height: 12px ;
    background-color: #30b86969;
    border-radius: 8px ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-inner{
    width:6px ;
    height: 6px;
    background-color: #30b868 ;
    border-radius: 8px ;
}


.headings p{
    width: 183px;
    font-size: 16px;
    font-weight:500;
    color: #469165;

}

.text-info h1{
    width: 770px;
    font-size: 72px ;
    font-weight: bold;
    line-height: 84px;
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 16px;
}

.text-info h1 span{
    color: #30B868;
}


.text-info .info{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #ffffffdc;
    margin-bottom: 32px;

}

.hero-content .buttons-container{
    display: flex;
    gap: 16px;
    justify-content: center;
}

.btn1, .btn2{
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    border-radius: 4px;
    color: #FFFFFF;
}

.btn1{
    background-color: #469165;
    
}

.btn2{
    border:1px solid rgba(255, 255, 255, 1) ;
}